.explore_wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 75px;
}

.explore_content_left {
  flex-basis: 50%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding-right: 60px;
}

.explore_title_underline {
  position: relative;
  margin-bottom: 105px;
}

.explore_title_underline::after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: var(--dark-red);
}

.explore_text {
  padding-right: 5px;
  margin-bottom: 26px;
}

.explore_text_another_color {
  color: #9d8665;
}

.explore_content_right {
  flex-basis: 50%;
  height: 700px;
  position: relative;
  margin-bottom: 80px;
  padding-top: 15px;
}

.explore_content_first_img,
.explore_content_second_img {
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;
}
.explore_content_second_img {
  border-right: 4px solid white;
}

.explore_content_first_img img,
.explore_content_second_img img {
  display: block;
  vertical-align: middle;
}

.img-comp-slider {
  position: absolute;
  z-index: 9;
  cursor: ew-resize;
  /*set the appearance of the slider:*/
  width: 40px;
  height: 40px;
  background-color: white;
  border: 4px solid white;
  transform: translateX(-2px);
  border-radius: 50%;
}
