.explore_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 75px;
}

.explore_content_left {
  flex-basis: 50%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding-right: 60px;
}

.explore_title_underline {
  position: relative;
  margin-bottom: 105px;
}

.explore_title_underline::after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: var(--dark-red);
}

.explore_text {
  padding-right: 5px;
  margin-bottom: 26px;
}

.explore_text_another_color {
  color: #9d8665;
}

.explore_content_right {
  flex-basis: 50%;
  height: 700px;
  position: relative;
  margin-bottom: 80px;
  padding-top: 15px;
}

.explore_content_first_img,
.explore_content_second_img {
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;
}

.explore_content_second_img::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 4px;
  height: 100%;
  background: linear-gradient(to bottom, white 0%, white 45%, transparent 45%, transparent 50%, white 50%, white 100%);
}

.explore_content_first_img img,
.explore_content_second_img img {
  display: block;
}

.img-comp-slider {
  position: absolute;
  z-index: 9;
  cursor: ew-resize;
  /*set the appearance of the slider:*/
  width: 40px;
  height: 40px;
  border: 5px solid white;
  transform: translateX(-2px);
  border-radius: 50%;
}

@media screen and (max-width: 1920px) {
  .explore_wrapper {
    flex-direction: column;
    padding-top: 54px;
  }

  .explore_content_left {
    flex-basis: 100%;
    padding-right: 0;
  }

  .explore_title_underline {
    margin-bottom: 75px;
  }
  
  .explore_title_underline::after {
    content: "";
    position: absolute;
    bottom: -14px;
    left: 0;
    right: 0;
    height: 3px;
    background-color: var(--dark-red);
  }
  
  .explore_text {
    padding-right: 0;
    margin-bottom: 0;
  }

  .explore_text:last-child {
    display: none;
    padding-right: 0;
    margin-bottom: 0;
  }

  .explore_content_right {
    flex-basis: 100%;
    height: auto;
    min-height: 818px;
    width: 720px;
    margin: 0 auto;
    padding-top: 58px;
  }
    
  .explore_content_second_img::after {
    background: linear-gradient(to bottom, white 0%,
     white 39%, transparent 39%, transparent 44%, white 44%, white 100%);
  }
}
