.section_welcome {
  width: 100%;
}

.welcome_wrapper {
  position: relative;
  height: 810px;
  overflow: hidden;
}

.welcome_content_left {
  position: absolute;
  top: 0;
  left: 0;
}

.welcome_title:first-child {
  margin-top: 150px;
}

.welcome_h1 {
  margin-top: 26px;
}

.welcome_button {
  display: block;
  width: 360px;
  height: 75px;
  border-radius: 10px;
  font-family: var(--ff-h1);
  font-weight: var(--fw-h2);
  font-size: var(--fs-a-1920);
  line-height: var(--lh-a-1920);
  color: var(--white);
  background-color: var(--dark-red);
  text-align: center;
  padding: 25px 0;
  margin-top: 75px;
}

.welcome_button:hover {
  background-color: var(--gold);
}

.welcome_content_right {
  position: absolute;
  top: 0;
  right: 0;
}

.welcome_swiper_wrapper {
  width: 1000px;
  height: 810px;
  overflow: hidden;
}

ul.swiper-wrapper {
  height: 750px;
  z-index: 0;
}

.welcome_swiper_slide {
  position: relative;
}

.welcome_swiper_slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.welcome_swiper_slide:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.5) 16.19%,
    rgba(0, 0, 0, 0) 30.73%
  );
}

.welcome_swiper_controls {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 600px;
  height: 120px;
  background-color: black;
}

.welcome_swiper_control_fraction {
  display: flex;
  font-family: var(--ff-h1);
  font-size: 22px;
  font-weight: 400px;
  padding-left: 50px;
}

.welcome_swiper_control_fraction div {
  margin: 0 5px;
}

#swiper-pagination {
  position: static;
  width: auto;
  margin: 0;
}

#swiper-pagination > span.swiper-pagination-bullet-active {
  background: var(--gold);
}

#swiper-pagination > span.swiper-pagination-bullet {
  background: white;
  width: 16px;
  height: 16px;
  border-radius: 0;
  margin: 0 12px;
  cursor: pointer;
}

.welcome_slider_control_arrows {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.welcome_swiper_button_prev,
.welcome_swiper_button_next {
  border: none;
  background-color: transparent;
  transform: scaleX(1.5);
  margin: 0 15px;
}

.welcome_swiper_button_prev {
  transform: rotate(180deg) scaleX(1.5) translateY(2px);
}

.welcome_swiper_button_next {
  padding-right: 25px;
}

.welcome_menu_nav_ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px 35px;
}

.welcome_menu_nav_li {
  width: 120px;
  margin: 12px 0;
}

.welcome_menu_nav_li a {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1920px) {
  .welcome_wrapper {
    height: 585px;
  }

  .welcome_swiper_wrapper {
    width: 700px;
    height: 525px;
  }

  ul.swiper-wrapper {
    height: 525px;
  }

  .welcome_title:first-child {
    margin-top: 50px;
  }

  .welcome_h1 {
    margin-left: 3px;
  }

  .welcome_button {
    display: block;
    width: 300px;
    height: 60px;
    border-radius: 10px;
    font-weight: var(--fw-h1);
    font-size: var(--fs-a-1024);
    line-height: var(--lh-a-1024);
    padding: 20px 0;
    margin-top: 50px;
  }

  .welcome_swiper_controls {
    bottom: -60px;
    width: 700px;
    height: 120px;
    padding-left: 150px;
  }

  #swiper-pagination > span.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    margin: 0 12px;
  }

  .welcome_swiper_button_prev,
  .welcome_swiper_button_next {
    transform: scaleX(1.2);
  }

  .welcome_swiper_button_prev {
    transform: rotate(180deg) scaleX(1.2) translateY(2px);
  }

  .welcome_swiper_button_next {
    padding-right: 35px;
  }
}
